node-red.txt
[{"id":"c48ad5ad.186f48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6a68b82.97b188","type":"debug","z":"c48ad5ad.186f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":40,"wires":[]},{"id":"f9a0174.a983be8","type":"ibmiot in","z":"c48ad5ad.186f48","authentication":"apiKey","apiKey":"6894dca8.ed5774","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1956","applicationId":"","deviceType":"raspberry_pie","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["77ae728c.932f1c","c3c04bcf.df3e78","6986632e.0a03dc","2c8ebbef.5b0b04","a99d37d9.81fde8"]]},{"id":"77ae728c.932f1c","type":"function","z":"c48ad5ad.186f48","name":"CashewJarWeight","func":"global.set('CashewJarWeight',msg.payload.CashewJarWeight)\nmsg.payload=msg.payload.CashewJarWeight\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["c6a68b82.97b188","614b44b9.b2597c"]]},{"id":"c3c04bcf.df3e78","type":"function","z":"c48ad5ad.186f48","name":"PeanutJarWeight","func":"global.set('PeanutJarWeight',msg.payload.PeanutJarWeight)\nmsg.payload=msg.payload.PeanutJarWeight;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["c6a68b82.97b188","6c33182f.2b2a88"]]},{"id":"614b44b9.b2597c","type":"ui_gauge","z":"c48ad5ad.186f48","name":"","group":"4b94c0d4.a7557","order":2,"width":0,"height":0,"gtype":"gage","title":"CashewJarWeight","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":120,"wires":[]},{"id":"6c33182f.2b2a88","type":"ui_gauge","z":"c48ad5ad.186f48","name":"","group":"bb9c5557.a2f678","order":1,"width":0,"height":0,"gtype":"gage","title":"PeanutJarWeight","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":160,"wires":[]},{"id":"20bc1ef7.410fd2","type":"ibmiot out","z":"c48ad5ad.186f48","authentication":"apiKey","apiKey":"6894dca8.ed5774","outputType":"cmd","deviceId":"1956","deviceType":"raspberry_pie","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":540,"wires":[]},{"id":"3db3385e.3ba778","type":"http in","z":"c48ad5ad.186f48","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["2a801410.85a0ec"]]},{"id":"650b1bb0.494c44","type":"http response","z":"c48ad5ad.186f48","name":"","statusCode":"","headers":{},"x":550,"y":400,"wires":[]},{"id":"2a801410.85a0ec","type":"function","z":"c48ad5ad.186f48","name":"data","func":"msg.payload={'CashewJarWeight':global.get(\"CashewJarWeight\"),'PeanutJarWeight':global.get(\"PeanutJarWeight\"),'MilletsJarWeight':global.get(\"MilletsJarWeight\"),'CylinderWeight':global.get(\"CylinderWeight\"),'GasLeakage':global.get(\"GasLeakage\")}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["650b1bb0.494c44","20bc1ef7.410fd2","76988690.53fdf8"]]},{"id":"6986632e.0a03dc","type":"function","z":"c48ad5ad.186f48","name":"MilletsJarWeight","func":"global.set('MilletsJarWeight',msg.payload.MilletsJarWeight)\nmsg.payload=msg.payload.MilletsJarWeight;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["c6a68b82.97b188","96931e1b.e96ee"]]},{"id":"2c8ebbef.5b0b04","type":"function","z":"c48ad5ad.186f48","name":"CylinderWeight","func":"global.set('CylinderWeight',msg.payload.CylinderWeight)\nmsg.payload=msg.payload.CylinderWeight;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["c6a68b82.97b188","9d22b465.6bb668"]]},{"id":"a99d37d9.81fde8","type":"function","z":"c48ad5ad.186f48","name":"GasLeakage","func":"global.set('GasLeakage',msg.payload.GasLeakage)\nmsg.payload=msg.payload.GasLeakage;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["c6a68b82.97b188","663a34db.b0fc7c"]]},{"id":"96931e1b.e96ee","type":"ui_gauge","z":"c48ad5ad.186f48","name":"","group":"9348dee5.2d295","order":4,"width":0,"height":0,"gtype":"gage","title":"MilletsJarWeight","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":200,"wires":[]},{"id":"9d22b465.6bb668","type":"ui_gauge","z":"c48ad5ad.186f48","name":"","group":"12310d5b.afa213","order":5,"width":0,"height":0,"gtype":"donut","title":"CylinderWeight","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"663a34db.b0fc7c","type":"ui_gauge","z":"c48ad5ad.186f48","name":"","group":"b086c821.d2ce88","order":6,"width":0,"height":0,"gtype":"compass","title":"GasLeakage","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"76988690.53fdf8","type":"debug","z":"c48ad5ad.186f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":460,"wires":[]},{"id":"6894dca8.ed5774","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4b94c0d4.a7557","type":"ui_group","z":"","name":"Cashew Jar","tab":"e7f8eb69.cc29b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bb9c5557.a2f678","type":"ui_group","z":"","name":"Peanut Jar","tab":"e7f8eb69.cc29b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"9348dee5.2d295","type":"ui_group","z":"","name":"Millet Jar","tab":"e7f8eb69.cc29b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"12310d5b.afa213","type":"ui_group","z":"","name":"Cylinder Weight","tab":"e7f8eb69.cc29b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b086c821.d2ce88","type":"ui_group","z":"","name":"Gas Leakage","tab":"e7f8eb69.cc29b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"e7f8eb69.cc29b8","type":"ui_tab","z":"","name":"Smart Kitchen","icon":"dashboard","disabled":false,"hidden":false}]